#icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    position: absolute;
    right: 18%;
    bottom: 20%;
    z-index: 30;
  }
  
  #icon div {
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
  }

.Icon1 {
    color: white;
  }
  
  .Icon2 {
    color: white;
  }
  
  .Icon3 {
    color: white;
  }
